.DS_Store
node_modules
/build
/.svelte-kit
.env.example
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.idea
/.fleet
/.wrangler
/src/lib/utils-wasm/target/
/src/lib/utils-wasm/Cargo.lock
/.cert/
/packages/vite-sveltekit-cf-ws/
